<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Economics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="/" >Global Economy</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ="/graphs">Economics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ="/top">Ranking</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="thumbnail">
        <h3></h3>
        <h3></h3>
        <img src= "../static/earth2.png" style="display: block; margin-left: auto; margin-right:auto;" width="1500" height="750">
        <h3></h3>
        
    </div>
    
    <div class="container content-wrapper">
        <div class="row">
            
        <div class="col-md-12">
            <h3>Welcome!</h3>
            <h5>The Ahmed-Khan country dashboard allows you to explore the most up-to-date coutry data using an interactive data visualization tool. 
                The visualization is created using yearly World Bank data starting in 1990 to 2018. The dataset consists of 193 countries across 6 continents.
                Below you will find additional information on the theory and context behind some of the key topics highlighted in the visualization. 
            </h5>
            
            <h6></h6>
            <h6></h6>

            <h3>Key Terms</h3>
            <h4>GDP - Gross Domestic Product</h4>
            <h6>Gross Domestic Product (GDP) is the total monetary or market value of all the finished goods and services produced within a country's borders in a specific time period. As a broad measure of overall domestic production, it functions as a comprehensive scorecard of the country’s economic health.</h6>
            <h6>GDP is calculated mainly via three different approach among which the expenditure approach or spending approach is the most popular. This method calculates the spending by the different groups that participate in the economy. This approach can be calculated using the following formula: GDP = C + G + I + NX, or (consumption + government spending + investment + net exports). All these activities contribute to the GDP of a country. The U.S. GDP is primarily measured based on the expenditure approach.</h6>
            
            <div class="thumbnail">
                <img src= "../static/gdp1.jpg" width="1150" height="600">
            </div>
            <h6></h6>
            <h6></h6>
            
            <h4>GDP per Capita</h4>
            <h6>GDP per capita is a measure of a country's economic output that accounts for its number of people. It divides the country's gross domestic product by its total population. That makes it a good measurement of a country's standard of living. It tells you how prosperous a country feels to each of its citizens.</h6>
            
            <div class="thumbnail">
                <img src= "../static/gdp2.jpg" width="1150" height="600">
            </div>
            <h6></h6>
            <h6></h6>
            
            <h4>PPP - Purchasing Power Parity </h4>
            <h6>One popular macroeconomic analysis metric to compare economic productivity and standards of living between countries is purchasing power parity (PPP). PPP is an economic theory that compares different countries' currencies through a "basket of goods" approach.</h6>
            <h6>According to this concept, two currencies are in equilibrium—known as the currencies being at par—when a basket of goods is priced the same in both countries, taking into account the exchange rates.</h6>
            
            <h4>Urbanization</h4>
            <h6>For most of human history, most people across the world lived in small communities. Over the past few centuries – and particularly in recent decades – this has shifted dramatically. There has been a mass migration of populations from rural to urban areas.</h6>
            <h6>Across most high-income countries – across Western Europe, the Americas, Australia, Japan and the Middle East – more than 80% of the population live in urban areas. Across most upper-middle income countries – in Eastern Europe, East Asia, North and Southern Africa, and South America – between 50% to 80% of people do. In many low to lower-middle income countries, the majority still live in rural areas.</h6>
            <h6>The allocation and distribution of resources — ranging from housing and transport access to healthcare, education, and employment opportunities — should all be dependent on where people live. Understanding the distribution of people in a given country is essential to make sure the appropriate resources and services are available where they’re needed.</h6>
            <div class="thumbnail">
                <img src= "../static/urban1.jpg" width="1150" height="600">
            </div>
            <h6></h6>
            <h6></h6>
            
            <h4>Literacy</h4>
            <h6>Literacy is a key skill and a key measure of a population’s education.</h6>
            <h6>From a historical perspective, literacy levels for the world population have risen drastically in the last couple of centuries. While only 12% of the people in the world could read and write in 1820, today the share has reversed: only 14% of the world population, in 2016, remained illiterate. Over the last 65 years the global literacy rate increased by 4% every 5 years – from 42% in 1960 to 86% in 2015</h6>
            <h6>Despite large improvements in the expansion of basic education, and the continuous reduction of education inequalities, there are substantial challenges ahead. The poorest countries in the world, where basic education is most likely to be a binding constraint for development, still have very large segments of the population who are illiterate. In Niger, for example, the literacy rate of the youth (15-24 years) is only 36.5%.</h6>
            <div class="thumbnail">
                <img src= "../static/lit1.jpg" width="1150" height="600">
            </div>
            <h6></h6>
            <h6></h6>

            <h4>Women Employment</h4>
            <h6>Rising female labor force participation has been one of the most remarkable economic developments of the last century. </h6>
            <h6>The 20th century saw a radical increase in the number of women participating in labor markets across early-industrialized countries. The substantial and sustained increases in the labor force participation of women in rich countries remains a striking feature of economic and social change in the 20th century. In the majority of countries, across all income levels the participation of women in labor markets is today higher than three decades ago.  </h6>
            <h6>Despite recent growth in female participation rates, men still tend to participate in labor markets more frequently than women. Since men tend to participate in labor markets more frequently than women, the gender composition of the labor force is skewed in most countries. </h6>
            <div class="thumbnail">
                <img src= "../static/emp1.jpg" width="1150" height="600">
            </div>
            <h6></h6>
            <h6></h6>

            <h3>Source</h3>
            <h4><a href="https://www.worldbank.org/" target="_blank">World Bank</a></h4>

            <h5><a href="https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS?view=chart" target="_blank">Rural population (% of total population)</a></h5>
            <h5><a href="https://data.worldbank.org/indicator/SL.TLF.TOTL.FE.ZS?view=chart" target="_blank">Labor force, female (% of total labor force)</a></h5>
            <h5><a href="https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?view=chart" target="_blank">GDP (current US$)</a></h5>
            <h5><a href="https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD?view=chart" target="_blank">GDP per capita, PPP (current international $)</a></h5>
            <h5><a href="https://data.worldbank.org/indicator/SE.ADT.LITR.ZS?view=chart" target="_blank">Literacy rate, adult total (% of people ages 15 and above)</a></h5>


            <h6></h6>
            <h6></h6>

            <h3>Board of Directors</h3>
            <div class="thumbnail">
                <img src= "../static/you1.jpeg" width="200" height="400">
            </div>
            <h4>Zahra Ahmed</h4>
            <h5><a href="https://www.linkedin.com/in/zahra09/" target="_blank">Linkedin</a></h5>
            
            <div class="thumbnail">
                <img src= "../static/me2.jpeg" width="200" height="400">
            </div>
            <h4>Ahnaf Khan</h4>
            <h5><a href="https://www.linkedin.com/in/ahnafkhan/" target="_blank">Linkedin</a></h5>
        </div>
    </div>
            
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    

    <script type="text/javascript" src= "../static/graphs.js"></script>
</script>

    </body>
    </html>
 



