<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Comparison</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="/" >Top Countries by Catagory</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ="/graphs">Economics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ="/top">Ranking</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container content-wrapper">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
            
          <div class="col-md-12">
            <h3></h3>
            <h3></h3>
            <h3>GDP Per Capita (PPP)</h5>
          <hr>
            <table class="table table-striped">
              <col width="130">
              <col width="130">
              <col width="130">
              <thead>
                <tr>
                  <th>ISO Code</th>
                  <th>Country</th>
                  <th>GDP Per Capita (PPP) ($)</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <th scope="row">QAT</th>
                    <td>Qatar</td>
                    <td>$126,898</td>
                  </tr>
                  <tr>
                    <th scope="row">LUX</th>
                    <td>Luxembourg</td>
                    <td>$113,337</td>
                  </tr>
                  <tr>
                    <th scope="row">SGP</th>
                    <td>Singapore</td>
                    <td>$101,531</td>
                  </tr>
                  <tr>
                    <th scope="row">IRL</th>
                    <td>Ireland</td>
                    <td>$83,203</td>
                  </tr>
                  <tr>
                    <th scope="row">BRN</th>
                    <td>Brunei Darussalam</td>
                    <td>$80,920</td>
                  </tr>
                </tbody>
            </table>
          </div>

          <hr>
          

      <div class="col-md-12">
        <h3></h3>
        <h3></h3>
        <h3>Literacy Rate</h3>
          <hr>
        <table class="table table-striped">
          <col width="130">
          <col width="130">
          <col width="130">
          <thead>
            <tr>
              <th>ISO Code</th>
              <th>Country</th>
              <th>Literacy Rate (%)</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">PRK</th>
                <td>North Korea</td>
                <td>100.0%</td>
              </tr>
              <tr>
                <th scope="row">UKR</th>
                <td>Ukraine</td>
                <td>100.0%</td>
              </tr>
              <tr>
                <th scope="row">UZB</th>
                <td>Uzbekistan</td>
                <td>100.0%</td>
              </tr>
              <tr>
                <th scope="row">EST</th>
                <td>Estonia</td>
                <td>99.9%</td>
              </tr>
              <tr>
                <th scope="row">LVA</th>
                <td>Latvia</td>
                <td>99.9%</td>
              </tr>
            </tbody>
        </table>
      </div>

      <hr>

    
        
        <div class="col-md-12">
          <h3></h3>
          <h3></h3>
          <h3>Rural Population</h3>
          <hr>
          <table class="table table-striped">
            <col width="130">
            <col width="130">
            <col width="130">
  
            <thead>
              <tr>
                <th>ISO Code</th>
                <th>Country</th>
                <th>Rural Population (%)</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">BDI</th>
                  <td>Burundi</td>
                  <td>86.96%</td>
                </tr>
                <tr>
                  <th scope="row">PNG</th>
                  <td>Papua New Guinea</td>
                  <td>86.83%</td>
                </tr>
                <tr>
                  <th scope="row">LIE</th>
                  <td>Liechtenstein</td>
                  <td>85.66%</td>
                </tr>
                <tr>
                  <th scope="row">NER</th>
                  <td>Niger</td>
                  <td>83.58%</td>
                </tr>
                <tr>
                  <th scope="row">MWI</th>
                  <td>Malawi</td>
                  <td>83.06%</td>
                </tr>
              </tbody>
          </table>
        </div>

        <hr>
        
        <div class="col-md-12">
          <h3></h3>
          <h3></h3>
          <h3>Labor Participation (Women %)</h3>
          <hr>
          <table class="table table-striped">
            <col width="130">
            <col width="130">
            <col width="130">
  
            <thead>
              <tr>
                <th>ISO Code</th>
                <th>Country</th>
                <th>Women in Labor Participation (%)</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">NPL</th>
                  <td>Nepal</td>
                  <td>55.76%</td>
                </tr>
                <tr>
                  <th scope="row">GIN</th>
                  <td>Guinea</td>
                  <td>53.06%</td>
                </tr>
                <tr>
                  <th scope="row">MOZ</th>
                  <td>Mozambique</td>
                  <td>52.08%</td>
                </tr>
                <tr>
                  <th scope="row">BDI</th>
                  <td>Burundi</td>
                  <td>51.91%</td>
                </tr>
                <tr>
                  <th scope="row">RWA</th>
                  <td>Rwanda</td>
                  <td>51.69%</td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
        
      </div>
    </div>
  </div>
</body>
<script src="../static/table.js"></script>

</html>
